@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-in-page-navigation/src/styles/usa-in-page-navigation';

$block: 'usa-in-page-nav';

.usa-in-page-nav-container {
	.main-content {
		// remove bottom margin from last component in the last section, as well as last section (not collapsing with flex layout)
		// stylelint-disable-next-line scss/selector-nest-combinators
		> .section:last-child {
			&,
			> :last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include at-media('tablet') {
	.in-page-navigation {
		align-self: stretch; // so that the inner .usa-in-page-navigation can be sticky within this space
		order: 2;
	}

	.#{$block} {
		max-width: units('card');

		&__heading {
			@include typeset('heading', '2xs', $theme-heading-line-height);
			@include u-text('semibold');
		}

		&__list {
			// stylelint-disable-next-line scss/selector-nest-combinators
			&,
			a:not(.usa-button) {
				&.usa-current {
					&:after {
						left: units(1px) * -1; // on top of the __list border
						background: color('secondary');
					}
				}
			}
		}

		&__item {
			font-size: size('body', '3xs');
		}
	}
}

@include at-media('desktop') {
	.#{$block} {
		max-width: units('card-lg');
	}
}
