@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-site-alert/src/styles/usa-site-alert';
@use '~uswds/usa-alert/src/styles/usa-alert';

$uswds-block: 'usa-alert';

// stylelint-disable-next-line scss/selector-nest-combinators
.usa-site-alert .#{$uswds-block},
.#{$uswds-block} {
	.#{$uswds-block}__heading {
		@include u-font('heading', 'lg');
		@include u-font-weight('bold');
	}

	.#{$uswds-block}__body {
		font-size: size('body', 'sm');
		
		.usa-button {
			$button-context: 'Button';
			$alert-context: 'Alert';

			&,
			&:visited {
				@include set-text-from-bg('primary', $context: $button-context);
			}
		
			&--secondary {
				$button-context: 'Button';

				&,
				&:visited {
					@include set-text-from-bg('secondary', $context: $button-context);
				}

				&:hover,
				&.usa-button--hover {
					@include set-text-and-bg('secondary-light', $context: $button-context);
				}

				&:active,
				&.usa-button--active {
					@include set-text-and-bg('secondary-lighter', $context: $button-context);
				}
			}
			
			&--outline {
				color: color($theme-text-color);
				
				&:visited, 
				&:hover,
				&.usa-button--hover ,
				&:active,
				&.usa-button--active {
					color: color($theme-text-color);
				}
			}
		}
	}

	&.#{$uswds-block}--emergency {
		.#{$uswds-block}__body {
			.usa-button {
				&--outline {
					color: color('white');
					box-shadow: inset 0 0 0 2px color('white');

					&:visited, 
					&:hover,
					&.usa-button--hover ,
					&:active,
					&.usa-button--active {
						color: color('white');
					}
				}
			}
		}
	}
}

.#{$uswds-block} {
	margin-bottom: units(1.5);
}

.usa-site-alert {
	.#{$uswds-block} {
		margin-bottom: 0;
	}

	&.usa-site-alert--emergency {
		.#{$uswds-block} {
			.#{$uswds-block}__body {
				.usa-button {
					&--outline {
						color: color('white');
						box-shadow: inset 0 0 0 2px color('white');

						&:visited, 
						&:hover,
						&.usa-button--hover ,
						&:active,
						&.usa-button--active {
							color: color('white');
						}
					}
				}
			}
		}
	}
}
