@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-header/src/styles/index';
@use '~uswds/usa-nav/src/styles/usa-nav';
@use '~uswds/usa-search/src/styles/usa-search';
@use '~uswds/usa-form/src/styles/usa-form';

.usa-header {
	height: fit-content;
	background-color: color('primary-dark');

	.usa-navbar {
		justify-content: space-between;
		height: fit-content;
		border-bottom: 0;
	}
	
	.grid-col {
		flex: 1 1 auto;
		width: 100%;
	}

	.usa-logo {
		@include u-margin-y(3);
		position: relative;
		flex: 0 0 auto;
		width: px-to-rem(180px);
		height: px-to-rem(50px);
		
		@include at-media('tablet') {
			width: px-to-rem(320px);
		}

		&__text,
		a,
		picture,
		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
		}

		picture,
		img {
			margin: 0;
			object-fit: scale-down;
			object-position: left;
		}
	}

	.usa-menu-btn {
		$button-context: 'Button';

		@include set-text-from-bg('secondary', $context: $button-context);
		margin-right: units(2);
		border-radius: radius(sm);
		background-color: color('secondary');
		cursor: pointer;

		&:visited {
			@include set-text-from-bg('secondary', $context: $button-context);
		}

		&:hover,
		&.usa-button--hover {
			@include set-text-and-bg('secondary-light', $context: $button-context);
		}

		&:active,
		&.usa-button--active {
			@include set-text-and-bg('secondary-lighter', $context: $button-context);
		}
	}

	.usa-text-input {
		border: 1px solid color('black');
	}

	.usa-button {
		&[type='submit'] {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			background-color: color('secondary');
		}
	}
	
	.usa-nav__search-header {
		@include u-font('heading', $theme-h5-font-size);
		@include u-text('semibold');
	}

	&.usa-header--small {
		.usa-search {
			margin-top: units(.5);
		}
	}

	a {
		&.usa-nav__link { // stylelint-disable-line selector-no-qualifying-type
			&.usa-link--external { // stylelint-disable-line selector-no-qualifying-type
				display: flex;
				justify-content: space-between;
				padding-right: 0;

				&:after {
					display: none;
				}

				svg {
					fill: color('ink');
				}
			}
		}
	}

	@include at-media('tablet') {
		.usa-nav__secondary {
			margin-bottom: units(1);
		}
	}

	@include at-media('desktop') {
		.grid-col {
			flex: 1 1 0%; // from uswds - makes them space evenly 
			width: auto;
		}

		.usa-text-input {
			border: 0;
			background-color: color('primary-darker');
			color: color('white');
		}

		.usa-button {
			&[type='submit'] {
				border-top-right-radius: radius(sm);
				border-bottom-right-radius: radius(sm);
			}
		}

		.usa-nav__submenu {
			width: fit-content;
			min-width: px-to-rem(350px);
			background-color: color('primary-darkest'); 
		}

		.usa-nav {
			// needs to be nested for styles to take
			border-color: color('primary-light');
			
			&__search-header {
				display: none;
			}

			&__primary {
				button {
					>span {
						color: color('white');

						&:after {
							background-color: color('white');
						}
					}

					&[aria-expanded='true'] { // stylelint-disable-line selector-no-qualifying-type
						background-color: color('primary-darkest');
					}

					&:hover,
					&:focus {
						>span {

							/* stylelint-disable max-nesting-depth */
							&:after {
								background-color: color('white');
							}
							/* stylelint-enable max-nesting-depth */
						}
					}
				}


				&:after {
					background-color: color('primary-light');
				}
			}
			
			.usa-nav__link {
				&:hover,
				&:focus { 
					&:after {
						background-color: color('primary-light');
					}
				}
			}
			
			a {
				&.usa-nav__link { // stylelint-disable-line selector-no-qualifying-type
					color: color('white');
					
					&:hover,
					&:focus {
						&:after {
							background-color: color('primary-light');
						}
					}
					
					&.usa-link--external { // stylelint-disable-line selector-no-qualifying-type
						padding-right: units(2);

						&:after {
							display: none;
						}
						
						&:hover,
						&:focus {
							&:after { // stylelint-disable-line max-nesting-depth
								display: block;
								width: inherit;
								margin: 0;
								padding: 0;
								background-color: color('primary-light');
								mask-image: none;
							}
						}
						
						span {
							margin-left: px-to-rem(4px);
						}
						
						svg {
							fill: color('white');
							
						}
					}
				}
			}
			
			.usa-current {
				&:after {
					background-color: color('primary-light');
				}

				&:hover,
				&:focus {
					&:after {
						background-color: color('primary-light');
					}
				}
			}
		}
		
		&.usa-header--small {
			.usa-nav__secondary {
				bottom: units(4); // in official USWDS this was labeled as "magic number" -- I just needed it halved in order to align correctly
				margin-bottom: 0;
			}
		}
	}
}