@use '../../styles/ne-global-imports' as *;
@use 'sass:math';

.icon-button-grid-wrapper {
	$block: 'icon-button-card';

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;
	}

	.#{$block} {
		&-group {
			row-gap: units(4); // match .grid-gap-4 column spacing
		}

		&__heading {
			color: color('white');
			font-family: family($theme-font-role-heading);
			font-size: size('body', 'md'); 
			font-weight: font-weight('bold');
		}

		&__body {
			$svg-size: px-to-rem(120px);
			height: $svg-size;

			p {
				span {
					display: flex;
					justify-content: center;
				}
			}
			
			svg {
				width: $svg-size;
				height: $svg-size;
				fill: color('primary-lighter');
				transition: fill $transition-slow;
			}
		}

		&__container {
			@include u-padding(3);
			@include u-radius('md');
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: background-color $transition-slow;
			background-color: color('primary-vivid');
			gap: units(2);
			
			&:has(a:focus-visible),
			&:has(a:hover) { 
				background-color: color('primary-lighter');

				.#{$block}__heading {
					color: color('primary-vivid');
					text-decoration: underline;
					text-decoration-thickness: 2px
				}
				
				.#{$block}__body {
					$svg-size: px-to-rem(120px);
					height: $svg-size;
		
					svg {
						fill: color('primary-vivid')
					}
				}
			}

			&:has(a) {
				cursor: pointer;
			}

			a {
				@include u-radius('md');
				position: absolute;
				width: 100%;
				height: 100%;
				text-decoration: none;  
				z-index: 1;             
				inset: 0; // shorthand for top: 0; right: 0; bottom: 0; left: 0;
			}
		}
	}
}

.section {
	&:has(.icon-button-grid-wrapper) {
		position: relative;
		margin-top: units($component-spacing-lg);
		margin-bottom: units($component-spacing-lg);
		padding: units(15) 0;
		background-color: color('primary-dark');

		// stylelint-disable-next-line scss/selector-nest-combinators
		+ .section.icon-button-grid-container {
			// close up the space between dark backgrounds
			margin-top: -1 * units($component-spacing-lg);
			padding-top: 0;
		}

		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100vw;
			width: 200vw;
			height: 100%;
			background-color: color('primary-dark');
			content: '';
			z-index: -1;
		}
		
		h2 {
			color: color('white');
		}
	}
}

main {
	&:has(.side-navigation-container),
	&:has(.in-page-navigation) {
		.section {
			&:has(.icon-button-grid-wrapper) {
				padding: 0;
				background-color: transparent;

				// stylelint-disable-next-line scss/selector-nest-combinators
				+ .section.icon-button-grid-container {
					margin-top: 0; // normal spacing
				}

				&:before {
					display: none;
				}
			}
			
			h2 {
				margin-top: 1.5em;
				color: color('ink');
			}
		}
	}
}