@use '../../styles/ne-global-imports' as *;

.usa-icon-list {
	&,
	.usa-prose & {
		margin-bottom: units($component-spacing-sm);
	}

	.usa-icon {
		width: units(3);
		height: units(3);
		fill: color('primary');
	}

	&__content {
		&,
		p {
			font-size: size($theme-icon-list-font-family, 'sm');
		}

		h3,
		p {
			margin: 0;
		}
	}

	&.usa-icon-list--size-lg {
		.usa-icon {
			fill: var(--theme-icons, #{color('primary')});
		}
	}
}
